*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Trajan Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  overflow-x: hidden;
  background-image: linear-gradient(to right bottom, rgba(42, 42, 42, 0.9), rgba(22, 21, 21, 1)), url(./images/walppaper.png);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem)/3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem)/3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem)/4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem)/4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem)/4) + (2 * 6rem));
}

.mt-5 {
  margin-top: 5rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

@font-face {
  font-family: "Trajan Pro";
  src: url("./fonts/trajan-pro-3-2.otf") format("opentype");
}
 
.switch-wrapper > div {
  position: absolute;
}