.dashboard-navbar {
  position: fixed;
  width: 100%;
  height: 8rem;
  border-bottom: 1px;
  border-bottom-color: rgb(219, 94, 94);
  border-bottom-style: groove;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: #222121;
}

.dashboard-navbar-logo {
    width: 6rem;
    display: block;
    float: left;
}

.dashboard-navbar-item {
    display: inline;
    vertical-align: middle;
}

.dashboard-page {
}