.manage-groups {
    width: 100vw;
}

.manage-groups-table {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 70rem;
    max-height: 50rem;
    margin: 0 auto;
    border-top: 2rem;
}