.dashboard-button-box {
  float: left;
}

.dashboard-button {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px 25px;
  position: relative;
  font-size: 1.2rem;
}

.dashboard-button:after {
  content: "";
  background: #f7392b;
  height: 1px;
  width: 26%;
  display: block;
  position: absolute;
  bottom: 2rem;
  left: 37%;
  transition: all 0.3s ease-out;
}

.dashboard-button:hover {
  color: #fff;
}

.dashboard-button:hover:after {
  width: 70%;
  left: 15%;
  transition: all 0.3s ease-out;
}